@model hocviec.Models.nhanvien
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Nhân Viên</h4>
<hr />
<h3>Bạn có chắc chắn muốn xóa thông tin này không?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayName("Mã NV")
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayName("Mã NV")
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayName("Tên")
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayName("Tên")
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayName("Ngày Sinh")
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayName("Ngày Sinh")
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayName("Số ĐT")
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayName("Số ĐT")
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayName("Địa Chỉ")
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayName("Địa Chỉ")
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayName("Chức Vụ")
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayName("Chức Vụ")
        </dd>
    </dl>
    
    <form asp-action="Delete" onsubmit="return JqueryPost(this);" autocomplete="off">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </form>
</div>